{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Parking Space Occupancy Detector
</h1>

<h2 class="subtitle">
  Raspberry Pi 4 - HQ camera - Wide-angle lens
</h2>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="notification is-danger" style="width:30%; margin: auto;">
  {{ messages[0] }}
</div>
{% endif %}
{% endwith %}

<div>
  <img src={{ url_for('main.camera')  }} width="640" height="480">
</div>

<a class="button" href="{{ url_for('main.predict') }}">Tflite model & email test!</a>

{% endblock %}
